# general ignore
__pycache__/
.idea
*.pt
*.pth
*.pyth
*.bin
*.safetensors
*.mat
*.xyz
*.npy
*.csv
*.so
*.mp4
*.tar
*.gz
*.tar.gz
*.pkl

# dataset ignore
datasets/mvtec/
datasets/btad/
datasets/visa/
datasets/dtd/